SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;
CREATE EXTENSION IF NOT EXISTS "pgsodium" WITH SCHEMA "pgsodium";
COMMENT ON SCHEMA "public" IS 'standard public schema';
CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";
CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";
CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";
CREATE EXTENSION IF NOT EXISTS "pgjwt" WITH SCHEMA "extensions";
CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";
CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";
CREATE TYPE "public"."app_role" AS ENUM ('coach');
ALTER TYPE "public"."app_role" OWNER TO "postgres";
CREATE TYPE "public"."role" AS ENUM ('coach');
ALTER TYPE "public"."role" OWNER TO "postgres";
CREATE OR REPLACE FUNCTION "public"."authorize_coach"() RETURNS boolean LANGUAGE "plpgsql" STABLE SECURITY DEFINER AS $$
DECLARE user_role text;
BEGIN -- Fetch user role from JWT and store it as text
SELECT (auth.jwt()->>'user_role')::text INTO user_role;
-- Check if the user role is 'coach'
IF user_role = 'coach' THEN RETURN true;
ELSE RETURN false;
END IF;
END;
$$;
ALTER FUNCTION "public"."authorize_coach"() OWNER TO "postgres";
CREATE OR REPLACE FUNCTION "public"."custom_access_token_hook"("event" "jsonb") RETURNS "jsonb" LANGUAGE "plpgsql" STABLE AS $$
declare claims jsonb;
user_role public.app_role;
begin -- Fetch the user role in the user_roles table
select role into user_role
from public.user_roles
where user_id = (event->>'user_id')::uuid;
claims := event->'claims';
if user_role is not null then -- Set the claim
claims := jsonb_set(claims, '{user_role}', to_jsonb(user_role));
else claims := jsonb_set(claims, '{user_role}', 'null');
end if;
-- Update the 'claims' object in the original event
event := jsonb_set(event, '{claims}', claims);
-- Return the modified or original event
return event;
end;
$$;
ALTER FUNCTION "public"."custom_access_token_hook"("event" "jsonb") OWNER TO "postgres";
CREATE OR REPLACE FUNCTION "public"."verify_user_password"("password" "text") RETURNS boolean LANGUAGE "plpgsql" SECURITY DEFINER AS $$ BEGIN RETURN EXISTS (
        SELECT id
        FROM auth.users
        WHERE id = auth.uid()
            AND encrypted_password = crypt(password::text, auth.users.encrypted_password)
    );
END;
$$;
ALTER FUNCTION "public"."verify_user_password"("password" "text") OWNER TO "postgres";
SET default_tablespace = '';
SET default_table_access_method = "heap";
CREATE TABLE IF NOT EXISTS "public"."attachments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "url" "text" NOT NULL,
    "course_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);
ALTER TABLE "public"."attachments" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."categories" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);
ALTER TABLE "public"."categories" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."chapters" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "video_url" "text",
    "position" integer NOT NULL,
    "is_published" boolean DEFAULT false,
    "is_free" boolean DEFAULT false,
    "course_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "video_name" "text"
);
ALTER TABLE "public"."chapters" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."cloudinary_data" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "public_id" "text",
    "chapter_id" "uuid"
);
ALTER TABLE "public"."cloudinary_data" OWNER TO "postgres";
COMMENT ON TABLE "public"."cloudinary_data" IS 'This table holds the public id of videos related to chapters';
ALTER TABLE "public"."cloudinary_data"
ALTER COLUMN "id"
ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME "public"."cloudinary_data_id_seq" START WITH 1 INCREMENT BY 1 NO MINVALUE NO MAXVALUE CACHE 1
    );
CREATE TABLE IF NOT EXISTS "public"."courses" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "text" NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "imageUrl" "text",
    "is_published" boolean DEFAULT false,
    "categoryId" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "tsvector_column" "tsvector" GENERATED ALWAYS AS (
        (
            "setweight"(
                "to_tsvector"(
                    '"english"'::"regconfig",
                    COALESCE("title", ''::"text")
                ),
                'A'::"char"
            ) || "setweight"(
                "to_tsvector"(
                    '"english"'::"regconfig",
                    COALESCE("description", ''::"text")
                ),
                'B'::"char"
            )
        )
    ) STORED,
    "price" double precision,
    "badge" "text"
);
ALTER TABLE "public"."courses" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."logging" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "url" "text" NOT NULL,
    "method" "text" NOT NULL,
    "body" "text",
    "response" "text",
    "status_code" integer,
    "error_message" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);
ALTER TABLE "public"."logging" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "name" "text",
    "image_url" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "vip" boolean,
    "stream_display_name" character varying(255),
    "bio" "text",
    "stream_key" character varying(255),
    "stream_url" "text"
);
ALTER TABLE "public"."profiles" OWNER TO "postgres";
CREATE OR REPLACE VIEW "public"."profile_view" AS
SELECT "profiles"."id",
    "profiles"."name",
    "profiles"."image_url"
FROM "public"."profiles";
ALTER TABLE "public"."profile_view" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."purchases" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "text" NOT NULL,
    "course_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);
ALTER TABLE "public"."purchases" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."stream_interactions" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "session_id" "uuid",
    "user_id" "uuid",
    "message" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);
ALTER TABLE "public"."stream_interactions" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."stream_sessions" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "stream_id" "uuid",
    "session_start" timestamp with time zone,
    "session_end" timestamp with time zone,
    "is_active" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "room_name" "text"
);
ALTER TABLE "public"."stream_sessions" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."streams" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "creator_id" "uuid",
    "title" character varying(255) NOT NULL,
    "description" "text",
    "date" timestamp with time zone NOT NULL,
    "type" character varying(50),
    "stream_key" character varying(255) NOT NULL,
    "is_live" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "streams_type_check" CHECK (
        (
            ("type")::"text" = ANY (
                ARRAY [('voice-only'::character varying)::"text", ('voice-video'::character varying)::"text"]
            )
        )
    )
);
ALTER TABLE "public"."streams" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."stripe_customers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "stripe_customer_id" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);
ALTER TABLE "public"."stripe_customers" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."user_course_progress" (
    "id" bigint NOT NULL,
    "user_id" "uuid" DEFAULT "gen_random_uuid"(),
    "course_id" "uuid" DEFAULT "gen_random_uuid"(),
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "completed" boolean
);
ALTER TABLE "public"."user_course_progress" OWNER TO "postgres";
ALTER TABLE "public"."user_course_progress"
ALTER COLUMN "id"
ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME "public"."user_course_progress_id_seq" START WITH 1 INCREMENT BY 1 NO MINVALUE NO MAXVALUE CACHE 1
    );
CREATE TABLE IF NOT EXISTS "public"."user_progress" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "chapter_id" "uuid",
    "is_completed" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);
ALTER TABLE "public"."user_progress" OWNER TO "postgres";
CREATE TABLE IF NOT EXISTS "public"."user_roles" (
    "id" bigint NOT NULL,
    "user_id" "uuid" NOT NULL,
    "role" "public"."app_role" NOT NULL
);
ALTER TABLE "public"."user_roles" OWNER TO "postgres";
ALTER TABLE "public"."user_roles"
ALTER COLUMN "id"
ADD GENERATED BY DEFAULT AS IDENTITY (
        SEQUENCE NAME "public"."user_roles_id_seq" START WITH 1 INCREMENT BY 1 NO MINVALUE NO MAXVALUE CACHE 1
    );
ALTER TABLE ONLY "public"."attachments"
ADD CONSTRAINT "attachments_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."categories"
ADD CONSTRAINT "categories_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."chapters"
ADD CONSTRAINT "chapters_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."cloudinary_data"
ADD CONSTRAINT "cloudinary_data_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."courses"
ADD CONSTRAINT "courses_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."logging"
ADD CONSTRAINT "logging_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."profiles"
ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."purchases"
ADD CONSTRAINT "purchases_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."stream_interactions"
ADD CONSTRAINT "stream_interactions_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."stream_sessions"
ADD CONSTRAINT "stream_sessions_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."streams"
ADD CONSTRAINT "streams_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."stripe_customers"
ADD CONSTRAINT "stripe_customers_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."stripe_customers"
ADD CONSTRAINT "stripe_customers_stripe_customer_id_key" UNIQUE ("stripe_customer_id");
ALTER TABLE ONLY "public"."stripe_customers"
ADD CONSTRAINT "stripe_customers_user_id_key" UNIQUE ("user_id");
ALTER TABLE ONLY "public"."user_course_progress"
ADD CONSTRAINT "user_course_progress_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."user_progress"
ADD CONSTRAINT "user_progress_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."user_roles"
ADD CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id");
ALTER TABLE ONLY "public"."user_roles"
ADD CONSTRAINT "user_roles_user_id_role_key" UNIQUE ("user_id", "role");
CREATE INDEX "idx_attachments_course_id" ON "public"."attachments" USING "btree" ("course_id");
CREATE INDEX "idx_chapters_course_id" ON "public"."chapters" USING "btree" ("course_id");
CREATE INDEX "idx_courses_category_id" ON "public"."courses" USING "btree" ("categoryId");
CREATE INDEX "idx_courses_tsvector" ON "public"."courses" USING "gin" ("tsvector_column");
CREATE INDEX "idx_purchases_course_id" ON "public"."purchases" USING "btree" ("course_id");
CREATE INDEX "idx_user_progress_chapter_id" ON "public"."user_progress" USING "btree" ("chapter_id");
CREATE UNIQUE INDEX "uniq_purchases_user_course" ON "public"."purchases" USING "btree" ("user_id", "course_id");
CREATE UNIQUE INDEX "uniq_user_progress_user_chapter" ON "public"."user_progress" USING "btree" ("user_id", "chapter_id");
ALTER TABLE ONLY "public"."attachments"
ADD CONSTRAINT "attachments_course_id_fkey" FOREIGN KEY ("course_id") REFERENCES "public"."courses"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."chapters"
ADD CONSTRAINT "chapters_course_id_fkey" FOREIGN KEY ("course_id") REFERENCES "public"."courses"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."cloudinary_data"
ADD CONSTRAINT "cloudinary_data_chapter_id_fkey" FOREIGN KEY ("chapter_id") REFERENCES "public"."chapters"("id");
ALTER TABLE ONLY "public"."courses"
ADD CONSTRAINT "courses_category_id_fkey" FOREIGN KEY ("categoryId") REFERENCES "public"."categories"("id") ON DELETE
SET NULL;
ALTER TABLE ONLY "public"."profiles"
ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."purchases"
ADD CONSTRAINT "purchases_course_id_fkey" FOREIGN KEY ("course_id") REFERENCES "public"."courses"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."stream_interactions"
ADD CONSTRAINT "stream_interactions_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."stream_sessions"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."stream_interactions"
ADD CONSTRAINT "stream_interactions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."stream_sessions"
ADD CONSTRAINT "stream_sessions_stream_id_fkey" FOREIGN KEY ("stream_id") REFERENCES "public"."streams"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."streams"
ADD CONSTRAINT "streams_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."stripe_customers"
ADD CONSTRAINT "stripe_customers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");
ALTER TABLE ONLY "public"."user_course_progress"
ADD CONSTRAINT "user_course_progress_course_id_fkey" FOREIGN KEY ("course_id") REFERENCES "public"."courses"("id");
ALTER TABLE ONLY "public"."user_course_progress"
ADD CONSTRAINT "user_course_progress_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");
ALTER TABLE ONLY "public"."user_progress"
ADD CONSTRAINT "user_progress_chapter_id_fkey" FOREIGN KEY ("chapter_id") REFERENCES "public"."chapters"("id") ON DELETE CASCADE;
ALTER TABLE ONLY "public"."user_roles"
ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;
CREATE POLICY "Allow auth admin to read user roles" ON "public"."user_roles" FOR
SELECT TO "supabase_auth_admin" USING (true);
CREATE POLICY "Allow coaches to delete any profile" ON "public"."profiles" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to delete attachments" ON "public"."attachments" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to delete categories" ON "public"."categories" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to delete chapters" ON "public"."chapters" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to delete courses" ON "public"."courses" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to delete purchases" ON "public"."purchases" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to delete stripe_customers" ON "public"."stripe_customers" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to delete user_progress" ON "public"."user_progress" FOR DELETE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert any profile" ON "public"."profiles" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert attachments" ON "public"."attachments" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert categories" ON "public"."categories" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert chapters" ON "public"."chapters" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert courses" ON "public"."courses" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert purchases" ON "public"."purchases" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert stripe_customers" ON "public"."stripe_customers" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to insert user_progress" ON "public"."user_progress" FOR
INSERT WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to read attachments" ON "public"."attachments" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to read categories" ON "public"."categories" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to read chapters" ON "public"."chapters" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to read courses" ON "public"."courses" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to read purchases" ON "public"."purchases" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to read stripe_customers" ON "public"."stripe_customers" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to read user_progress" ON "public"."user_progress" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to select any profile" ON "public"."profiles" FOR
SELECT USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update any profile" ON "public"."profiles" FOR
UPDATE USING ("public"."authorize_coach"()) WITH CHECK ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update attachments" ON "public"."attachments" FOR
UPDATE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update categories" ON "public"."categories" FOR
UPDATE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update chapters" ON "public"."chapters" FOR
UPDATE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update courses" ON "public"."courses" FOR
UPDATE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update purchases" ON "public"."purchases" FOR
UPDATE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update stripe_customers" ON "public"."stripe_customers" FOR
UPDATE USING ("public"."authorize_coach"());
CREATE POLICY "Allow coaches to update user_progress" ON "public"."user_progress" FOR
UPDATE USING ("public"."authorize_coach"());
CREATE POLICY "Allow insert for course owners" ON "public"."courses" FOR
INSERT WITH CHECK ((("auth"."uid"())::"text" = "user_id"));
CREATE POLICY "Allow user to delete their own profile" ON "public"."profiles" FOR DELETE USING (("auth"."uid"() = "id"));
CREATE POLICY "Allow user to insert their own profile" ON "public"."profiles" FOR
INSERT WITH CHECK (("auth"."uid"() = "id"));
CREATE POLICY "Allow user to insert their own progress" ON "public"."user_course_progress" FOR
INSERT WITH CHECK (("auth"."uid"() = "user_id"));
CREATE POLICY "Allow user to insert their own progress" ON "public"."user_progress" FOR
INSERT WITH CHECK (("auth"."uid"() = "user_id"));
CREATE POLICY "Allow user to read their own progress" ON "public"."user_course_progress" FOR
SELECT USING (("auth"."uid"() = "user_id"));
CREATE POLICY "Allow user to read their own progress" ON "public"."user_progress" FOR
SELECT USING (("auth"."uid"() = "user_id"));
CREATE POLICY "Allow user to select their own profile" ON "public"."profiles" FOR
SELECT USING (("auth"."uid"() = "id"));
CREATE POLICY "Allow user to update their own profile" ON "public"."profiles" FOR
UPDATE USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));
CREATE POLICY "Allow user to update their own progress" ON "public"."user_course_progress" FOR
UPDATE USING (("auth"."uid"() = "user_id"));
CREATE POLICY "Allow user to update their own progress" ON "public"."user_progress" FOR
UPDATE USING (("auth"."uid"() = "user_id"));
CREATE POLICY "Enable insert for authenticated users only" ON "public"."courses" FOR
INSERT TO "authenticated" WITH CHECK (true);
CREATE POLICY "Enable insert for authenticated users only" ON "public"."purchases" FOR
INSERT WITH CHECK (true);
CREATE POLICY "Enable insert for authenticated users only" ON "public"."stripe_customers" FOR
INSERT TO "authenticated" WITH CHECK (true);
CREATE POLICY "Enable read access for all users" ON "public"."categories" FOR
SELECT USING (true);
CREATE POLICY "Enable read access for all users" ON "public"."chapters" FOR
SELECT USING (true);
CREATE POLICY "Enable read access for all users" ON "public"."courses" FOR
SELECT TO "authenticated" USING (true);
CREATE POLICY "Enable read access for all users" ON "public"."purchases" FOR
SELECT USING (true);
CREATE POLICY "Enable read access for all users" ON "public"."stripe_customers" FOR
SELECT USING (true);
CREATE POLICY "Enable read access for all users" ON "public"."user_roles" FOR
SELECT USING (true);
ALTER TABLE "public"."attachments" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."categories" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."chapters" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."courses" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."logging" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."purchases" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."stripe_customers" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."user_course_progress" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."user_progress" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."user_roles" ENABLE ROW LEVEL SECURITY;
ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";
ALTER PUBLICATION "supabase_realtime"
ADD TABLE ONLY "public"."stream_interactions";
ALTER PUBLICATION "supabase_realtime"
ADD TABLE ONLY "public"."stream_sessions";
ALTER PUBLICATION "supabase_realtime"
ADD TABLE ONLY "public"."streams";
GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";
GRANT USAGE ON SCHEMA "public" TO "supabase_auth_admin";
GRANT ALL ON FUNCTION "public"."authorize_coach"() TO "anon";
GRANT ALL ON FUNCTION "public"."authorize_coach"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."authorize_coach"() TO "service_role";
REVOKE ALL ON FUNCTION "public"."custom_access_token_hook"("event" "jsonb")
FROM PUBLIC;
GRANT ALL ON FUNCTION "public"."custom_access_token_hook"("event" "jsonb") TO "service_role";
GRANT ALL ON FUNCTION "public"."custom_access_token_hook"("event" "jsonb") TO "supabase_auth_admin";
GRANT ALL ON FUNCTION "public"."verify_user_password"("password" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."verify_user_password"("password" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."verify_user_password"("password" "text") TO "service_role";
GRANT ALL ON TABLE "public"."attachments" TO "anon";
GRANT ALL ON TABLE "public"."attachments" TO "authenticated";
GRANT ALL ON TABLE "public"."attachments" TO "service_role";
GRANT ALL ON TABLE "public"."categories" TO "anon";
GRANT ALL ON TABLE "public"."categories" TO "authenticated";
GRANT ALL ON TABLE "public"."categories" TO "service_role";
GRANT ALL ON TABLE "public"."chapters" TO "anon";
GRANT ALL ON TABLE "public"."chapters" TO "authenticated";
GRANT ALL ON TABLE "public"."chapters" TO "service_role";
GRANT ALL ON TABLE "public"."cloudinary_data" TO "anon";
GRANT ALL ON TABLE "public"."cloudinary_data" TO "authenticated";
GRANT ALL ON TABLE "public"."cloudinary_data" TO "service_role";
GRANT ALL ON SEQUENCE "public"."cloudinary_data_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."cloudinary_data_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."cloudinary_data_id_seq" TO "service_role";
GRANT ALL ON TABLE "public"."courses" TO "anon";
GRANT ALL ON TABLE "public"."courses" TO "authenticated";
GRANT ALL ON TABLE "public"."courses" TO "service_role";
GRANT ALL ON TABLE "public"."logging" TO "anon";
GRANT ALL ON TABLE "public"."logging" TO "authenticated";
GRANT ALL ON TABLE "public"."logging" TO "service_role";
GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";
GRANT ALL ON TABLE "public"."profile_view" TO "anon";
GRANT ALL ON TABLE "public"."profile_view" TO "authenticated";
GRANT ALL ON TABLE "public"."profile_view" TO "service_role";
GRANT ALL ON TABLE "public"."purchases" TO "anon";
GRANT ALL ON TABLE "public"."purchases" TO "authenticated";
GRANT ALL ON TABLE "public"."purchases" TO "service_role";
GRANT ALL ON TABLE "public"."stream_interactions" TO "anon";
GRANT ALL ON TABLE "public"."stream_interactions" TO "authenticated";
GRANT ALL ON TABLE "public"."stream_interactions" TO "service_role";
GRANT ALL ON TABLE "public"."stream_sessions" TO "anon";
GRANT ALL ON TABLE "public"."stream_sessions" TO "authenticated";
GRANT ALL ON TABLE "public"."stream_sessions" TO "service_role";
GRANT ALL ON TABLE "public"."streams" TO "anon";
GRANT ALL ON TABLE "public"."streams" TO "authenticated";
GRANT ALL ON TABLE "public"."streams" TO "service_role";
GRANT ALL ON TABLE "public"."stripe_customers" TO "anon";
GRANT ALL ON TABLE "public"."stripe_customers" TO "authenticated";
GRANT ALL ON TABLE "public"."stripe_customers" TO "service_role";
GRANT ALL ON TABLE "public"."user_course_progress" TO "anon";
GRANT ALL ON TABLE "public"."user_course_progress" TO "authenticated";
GRANT ALL ON TABLE "public"."user_course_progress" TO "service_role";
GRANT ALL ON SEQUENCE "public"."user_course_progress_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."user_course_progress_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."user_course_progress_id_seq" TO "service_role";
GRANT ALL ON TABLE "public"."user_progress" TO "anon";
GRANT ALL ON TABLE "public"."user_progress" TO "authenticated";
GRANT ALL ON TABLE "public"."user_progress" TO "service_role";
GRANT ALL ON TABLE "public"."user_roles" TO "service_role";
GRANT ALL ON TABLE "public"."user_roles" TO "supabase_auth_admin";
GRANT ALL ON SEQUENCE "public"."user_roles_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."user_roles_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."user_roles_id_seq" TO "service_role";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON SEQUENCES TO "service_role";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON FUNCTIONS TO "service_role";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public"
GRANT ALL ON TABLES TO "service_role";
RESET ALL;